# Python cache
__pycache__/
*.pyc

# Nsight Systems outputs (often huge)
*.qdrep
*.nsys-rep
*.sqlite
*.sqlite3

# Plots / generated images
*.png
*.pdf

# Logs
*.log

# VSCode
.vscode/

# local outputs
myenv
.vscode
*.pycnsys/
experiments/ddp/
experiments/thru_com/

